<!-- Modal -->
<div class="modal fade" id="editTask{{_id}}" tabindex="-1" aria-labelledby="editTaskLabel{{_id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <form action="/tasks/{{_id}}" method="post">
                    <input type="hidden" name="_method" value="PUT">

                    <div class="form-group my-3">
                        <label for="users">Status</label>
                        <select class="form-select" name="status">
                            <option value="pending" {{#if (ifEquals status 'pending')}} selected {{/if}}>Pending</option>
                            <option value="active" {{#if (ifEquals status 'active')}} selected {{/if}}>active</option>
                            <option value="awaiting review" {{#if (ifEquals status 'awaiting review')}} selected {{/if}}>awaiting review</option>
                            <option value="blocker" {{#if (ifEquals status 'blocker')}} selected {{/if}}>blocker</option>
                            <option value="reviewed" {{#if (ifEquals status 'reviewed')}} selected {{/if}}>reviewed</option>
                            <option value="completed" {{#if (ifEquals status 'completed')}} selected {{/if}}>completed</option>
                        </select>
                    </div>


                    <div class="form-group my-3">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>