<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="card col-lg-7 px-0">
            <div class="card-header bg-white text-center">
                <h3>Create Task</h3>
            </div>

            <div class="card-body">
                <form action="/admin/tasks" method="post">
                    <div class="form-group my-2">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" id="title">
                    </div>

                    <div class="form-group my-2">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="form-control" cols="30" rows="6"></textarea>
                    </div>


                    <div class="form-group my-2">
                        <label for="email" class="py-3">Priority: <span id="priority-val" class="text-white" style="border-radius:10px; background-color:red; padding: 3px;">1</span></label>
                       <input type="range" class="form-control" name="priority" id="priority" onchange="updatePriority(this)" min="1" max="5" step="1" value="1">
                    </div>


                      <div class="form-group my-3 text-center">
                        <label for="users">Status</label>
                        <select class="form-select" name="status">
                            <option value="pending">Pending</option>
                            <option value="active">active</option>
                            <option value="awaiting review">awaiting review</option>
                            <option value="blocker">blocker</option>
                            <option value="reviewed">reviewed</option>
                            <option value="completed">completed</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="password">Start Date</label>
                        <input type="date" class="form-control" name="startDate" id="startDate">
                    </div>

                    <div class="form-group">
                        <label for="password_confirmation">End Date</label>
                        <input type="date" class="form-control" name="endDate" id="endDate">
                    </div>

                    <div class="form-group my-3 text-center">
                        <label for="users">Assign User</label>
                        <select class="form-select" name="user">
                            {{#each users}}
                                <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group my-3">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function updatePriority(){
        const currPriotity =  document.getElementById('priority').value;
        document.getElementById('priority-val').innerHTML = currPriotity;
        console.log('value', currPriotity);
        if(currPriotity == 1) {
            document.getElementById('priority-val').style.backgroundColor = "red";
        }

         if(currPriotity == 2) {
            document.getElementById('priority-val').style.backgroundColor = "orange";
        }

         if(currPriotity == 3) {
            document.getElementById('priority-val').style.backgroundColor = "yellow";
        }

         if(currPriotity == 4) {
            document.getElementById('priority-val').style.backgroundColor = "lightgreen";
        }

        if(currPriotity == 5) {
            document.getElementById('priority-val').style.backgroundColor = "green";
        }
    }
</script>